<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/auth.css">
</head>

<body>
   <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/Adminlogin" method="POST">
            <div class="form-control">
                <label for="staffNumber">Staff Number</label>
                <input 
                    type="text" 
                    name="staffNumber" 
                    id="staffNumber" 
                    value="<%= oldInput.staffNumber %>">
            </div>
            <div class="form-control">
                <label for="password">Password</label>
                <input 
                    class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                    type="password" 
                    name="password" 
                    id="password" >
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn" type="submit">Admin Login</button>
        </form>
        
    </main>
<%- include('../includes/end.ejs') %>