<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
   <%- include('../includes/Adminnavigation.ejs') %>

    <main>
        <h1>User</h1>
        <% if(Registereduser.length > 0){ %>
        <table>
            <tr>
                <td>User email</td>
                <td>User Name</td>
                <td>User Birthday</td>
                <td>Action</td>
            </tr>
            <% Registereduser.forEach( u => { %>
            <tr>
                <td><%= u.email%></td>
                <td><%= u.name %></td>
                <td><%= u.birthday%></td>
                <td><a href="/admin/edit-user/<%= u._id %>?edit=true ">edit</a>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                    <form action="/admin/delete-user" method="POST">
                        <input type="hidden" value="<%= u._id %>" name="userID">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="submit" value="Delete">
                    </form></td>
            </tr>
            <% }) %>
        </table>
        <% }else{ %>
            <h1>No User Found</h1>
        <% } %>
    </main>
<%- include('../includes/end.ejs') %>